* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}

body,
html {
  font-family: "Roboto", sans-serif;
}

.wrapper_container {
}

header {
}

.Top_header {
  background: #3e4999;
  z-index: 1;
}

.sub_header,
.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.sub_header_item {
  display: flex;
  padding: 5px 0px;
  align-items: center;
  color: #fff;
}

.sub_header_item i {
  padding-right: 10px;
}

.sub_header_item p {
  font-size: 14px;
  font-weight: 500;
}

.header_container {
  padding: 10px 0px 10px 0px;
  z-index: 1;
  position: relative;
}

.header_container .Logo {
  margin-top: -10px;
}

.search {
  width: 580px;
}

.search .bnt__search {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid transparent;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 13%) 0px 1px 2px;
  outline: none;
  transition: 0.5s;
}

.search .bnt__search:focus {
  box-shadow: rgb(0 0 0 / 20%) 0px 1px 3px, rgb(0 0 0 / 30%) 0px 1px 2px;
}

.header_right {
  font-size: 22px;
}

.header_right,
.header_account,
.header_cart,
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_right .content1 .content_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  background: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 54px;
  transition: 0.5s;
  z-index: 2;
  background: #fff;
}

.header_right .content_heading {
  background: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 54px;
  transition: 0.5s;
  z-index: 2;
  background: #fff;
}

.header_right .content1 {
  position: relative;
}

.header_right .content1:hover .dropdown {
  opacity: 1;
  transform: translateY(0);
}

.dropdown {
  position: absolute;
  top: 50px;
  left: 0;
  width: 200px;
  background: rgb(248, 248, 248);
  border-radius: 12px;
  border: 1px solid rgb(223, 223, 223);
  box-shadow: 2px 2px 2px 2px rgb(211, 209, 209, 0.2);
  z-index: 1;
  padding: 10px 0px;
  transform: translateY(-75px);
  transition: 0.3s;
  opacity: 0;
}

.dropdown li {
  list-style-type: none;
  transition: 0.2s;
}

.dropdown li a {
  text-decoration: none;
  padding: 10px 15px;
  color: #000;
  transition: 0.3s;
}

.dropdown li:hover {
  background: rgb(116, 115, 115);
}

.dropdown li:hover a {
  color: #fff;
  width: 100%;
}

.header_right .content_heading:hover {
  border: 1px solid #ccc;
}

.header_right i {
  padding-right: 10px;
}

/* navigation */

nav {
  background: #f04e47;
  position: relative;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
  padding: 8px 0px;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  color: #fff;
  font-weight: 500;
  font-family: 18px;
  text-decoration: none;
  transition: 0.3s;
  padding: 5px 50px;
}

nav ul li a:hover {
  opacity: 0.6;
}

main {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
  margin-top: 32px;
}

.block__Dm {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  margin-top: 10px;
}

.item__Dm {
  width: 210px;
  height: 210px;
  overflow: hidden;
  border-radius: 12px;
  width: 18%;
  margin: 0px 20px 20px 0px;
  position: relative;
  cursor: pointer;
}

.title_dm {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  opacity: 0;
  transform: translateY(100%);
  transition: 0.3s;
}

.item__Dm:hover .title_dm {
  transform: translateY(0%);
  opacity: 1;
}

.slide_content-1 {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}

.swiper1 {
  width: 100%;
  height: 100%;
  max-width: 1024px;
  width: 100%;
  overflow: hidden;
  margin-top: 15px;
}

.slide1 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 12px;
  min-height: 300px;
  overflow: hidden;
  cursor: pointer;
}

.slide1 img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.slide1:hover img {
  transform: scale(1.2);
}

.img-sp {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin-top: 10px;
}

.heading_left {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
}

.Gia {
  color: red;
  padding-top: 15px;
}

.mySwiper5 {
  margin-top: 10px;
}

footer {
  width: 100%;
  background: #efefef;
  margin-top: 50px;
}

.container__footer {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
  padding: 20px 0px;
}

.form-Email {
  max-width: 480px;
}

.email {
  position: relative;
  margin-top: 10px;
}

.btn_gmail {
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #ccc;
}

.icon_eamil {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1px;
  background: rgb(230, 197, 91);
  height: 36px;
  width: 60px;
  border-radius: 12px;
}

.icon_eamil i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: #fff;
}

.content_top,
.follow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon_right {
  padding-left: 50px;
  font-size: 32px;
}

.content_hotline table {
  width: 100%;
  margin-top: 30px;
}

.content_hotline table tr th {
  text-align: left;
  width: 28%;
  padding-bottom: 20px;
}

.content_hotline table tr td {
  font-size: 14px;
  cursor: pointer;
}

.content_hotline table tr td:hover {
  color: red;
}

/*------------------------------------------------*/

/* phần đăng nhập tài khoản */

.title-logo {
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
}

.content1 {
  display: grid;
  grid-template-columns: 50% 40%;
  justify-content: space-around;
}

.form {
  margin: auto;
  width: 450px;
  background-color: #fff;
}

.control-login {
  font-size: 16px;
  width: 100%;
  padding: 9px;
  border-radius: 3px;
  border: 0.5px solid rgb(202, 201, 201);
}

.control-register {
  font-size: 16px;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 0.5px solid rgb(202, 201, 201);
}

.form-group {
  margin-bottom: 20px;
}

table tbody tr {
  margin-bottom: 30px !important;
}

.control-login:focus {
  font-size: 16px;
  outline: 0;
  border-color: rgb(202, 201, 201);
}

.form-login {
  padding: 30px;
}
.form-register {
  padding: 30px;
}

.login {
  font-size: 16px;
  border: none;
  width: 100% !important;
  background-color: #c0292b !important;
  height: 40px;
  color: #fff !important;
  border-radius: 5px;
}

.register {
  color: #c0292b;
}

.or hr {
  width: 30%;
  height: 1px;
}

.or {
  line-height: 5px;
  height: 30px;
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
}

.poem {
  margin-top: 10px;
  font-size: 25px;
}

.left,
.right {
  margin: 10% auto;
}

.right-register {
  margin: 10% auto;
}

.logo {
  font-size: 90px;
  font-weight: 900;
}

.form-check-input {
  margin-bottom: 10px;
}

.title {
  margin-bottom: 10px;
  font-size: 20px;
}

tr span {
  margin: 10px;
}

.p-last {
  text-align: center;
}

.title-logo span {
  font-size: 30px;
  margin-left: 10px;
}

.title-logo i {
  font-size: 50px;
}

.p-nd {
  margin-bottom: 10px;
}

.loi {
  margin-top: 10px;
  color: red;
}

/* ------------------------------------------------------- */

/* trang sản phẩm chi tiết */
::-webkit-scrollbar {
  width: 0;
}
.container__product {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0px;
}
.content_product {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.product {
  width: 48%;
}
.content_left {
  height: 100%;
  overflow: hidden;
}
.content_left img {
  width: 100%;
  transition: 0.5s;
}
.im_product {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.product_sale {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(253, 47, 47);
  padding: 15px;
  text-align: center;
  border-radius: 100%;
  color: #fff;
}
.block_im {
  width: 600px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: scroll;
}
.img_item {
  min-width: 120px;
  min-height: 120px;
  padding: 10px;
  overflow: hidden;
  border: 1px solid rgb(31, 29, 29);
  margin-right: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.img_item:hover img {
  transform: scale(1.1);
}

.content_right h2 {
  font-size: 32px;
}
.price_product {
  color: #f04e45;
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
}
.price_product span {
  font-size: 24px;
  margin-right: 20px;
}
.Old_price {
  text-decoration: line-through;
  color: #ccc;
}
.trust-seal-list {
  margin-top: 20px;
}
.trust-seal-list li {
  list-style-type: none;
  border: 1px solid #cbcbcb;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
}
.trust-seal-list li i {
  width: 40px;
  text-align: center;
}
.trust-seal-list li:nth-child(2) {
  border-top: none;
  border-bottom: none;
}
.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button a {
  width: 48%;
  text-decoration: none;
  text-align: center;
  background: #df494a;
  border-radius: 8px;
  padding: 10px 0px;
  color: #fff;
  font-weight: 600;
  margin-top: 30px;
}
.shop {
  margin-top: 40px;
  border: 1px solid #cbcbcb;
}
.header_shop {
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid #cbcbcb;
}
.content_shop {
  height: 456px;
  overflow: scroll;
  padding: 24px;
}
.content_item {
  border-bottom: 1px solid #cbcbcb;
  padding: 15px 10px;
}
.description {
  width: 100%;
  height: 100%;
  margin-top: 40px;
}
.header__description {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #cbcbcb;
  position: relative;
}
.description_item {
  width: 200px;
  text-align: center;
  cursor: pointer;
  padding: 10px 0px;
  border-left: 1px solid #cbcbcb;
  border-right: 1px solid #cbcbcb;
  font-weight: 600;
  opacity: 0.5;
}
.line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0px;
  border-radius: 10px 10px 0px 0px;
  background: #df494a;
  transition: 0.5s;
}
.Content__description {
  border: 1px solid #cbcbcb;
  border-top: none;
  padding: 20px;
  height: 100%;
  overflow: hidden;
}
.content__item {
  display: none;
}
.input__comment {
  width: 100%;
  padding: 10px;
}
.content__item button {
  padding: 5px 20px;
  float: right;
  margin-top: 10px;
  background: rgb(94, 138, 220);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.activeDescriptions {
  display: block;
  opacity: 1;
}
.content_comment {
  margin-top: 40px;
  width: 100%;
  border-top: 1px solid #cbcbcb;
  padding: 10px;
}
.knot__comment a {
  margin-right: 10px;
}
.related_products {
  margin-top: 40px;
}
.block_related {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.related_im img {
  width: 100%;
  background-image: center;
  background-repeat: no-repeat;
}
.content_related {
  overflow: hidden;
  border: 1px solid #f1f1f1;
  height: 100%;
  width: 250px;
  margin-bottom: 20px;
}
.related_title {
  padding: 10px;
}
.related_title .name_product {
  font-size: 18px;
  font-weight: 600;
}
.price_product {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price_product .price {
  color: #ccc;
  text-decoration: line-through;
}
