* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}
::-webkit-scrollbar {
  width: 0;
}
.container__product {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0px;
}
.content_product {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.product {
  width: 48%;
}
.content_left {
  height: 100%;
  overflow: hidden;
}
.content_left img {
  width: 100%;
  transition: 0.5s;
}
.im_product {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.product_sale {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(253, 47, 47);
  padding: 15px;
  text-align: center;
  border-radius: 100%;
  color: #fff;
}
.block_im {
  width: 600px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: scroll;
}
.img_item {
  min-width: 120px;
  min-height: 120px;
  padding: 10px;
  overflow: hidden;
  border: 1px solid rgb(31, 29, 29);
  margin-right: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.img_item:hover img {
  transform: scale(1.1);
}

.content_right h2 {
  font-size: 32px;
}
.price_product {
  color: #f04e45;
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
}
.price_product span {
  font-size: 24px;
  margin-right: 20px;
}
.Old_price {
  text-decoration: line-through;
  color: #ccc;
}
.trust-seal-list {
  margin-top: 20px;
}
.trust-seal-list li {
  list-style-type: none;
  border: 1px solid #cbcbcb;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
}
.trust-seal-list li i {
  width: 40px;
  text-align: center;
}
.trust-seal-list li:nth-child(2) {
  border-top: none;
  border-bottom: none;
}
.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button a {
  width: 48%;
  text-decoration: none;
  text-align: center;
  background: #df494a;
  border-radius: 8px;
  padding: 10px 0px;
  color: #fff;
  font-weight: 600;
  margin-top: 30px;
}
.shop {
  margin-top: 40px;
  border: 1px solid #cbcbcb;
}
.header_shop {
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid #cbcbcb;
}
.content_shop {
  height: 456px;
  overflow: scroll;
  padding: 24px;
}
.content_item {
  border-bottom: 1px solid #cbcbcb;
  padding: 15px 10px;
}
.description {
  width: 100%;
  height: 100%;
  margin-top: 40px;
}
.header__description {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #cbcbcb;
  position: relative;
}
.description_item {
  width: 200px;
  text-align: center;
  cursor: pointer;
  padding: 10px 0px;
  border-left: 1px solid #cbcbcb;
  border-right: 1px solid #cbcbcb;
  font-weight: 600;
  opacity: 0.5;
}
.line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0px;
  border-radius: 10px 10px 0px 0px;
  background: #df494a;
  transition: 0.5s;
}
.Content__description {
  border: 1px solid #cbcbcb;
  border-top: none;
  padding: 20px;
  height: 100%;
  overflow: hidden;
}
.content__item {
  display: none;
}
.input__comment {
  width: 100%;
  padding: 10px;
}
.content__item button {
  padding: 5px 20px;
  float: right;
  margin-top: 10px;
  background: rgb(94, 138, 220);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.activeDescriptions {
  display: block;
  opacity: 1;
}
.content_comment {
  margin-top: 40px;
  width: 100%;
  border-top: 1px solid #cbcbcb;
  padding: 10px;
}
.knot__comment a {
  margin-right: 10px;
}
.related_products {
  margin-top: 40px;
}
.block_related {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.related_im img {
  width: 100%;
  background-image: center;
  background-repeat: no-repeat;
}
.content_related {
  overflow: hidden;
  border: 1px solid #f1f1f1;
  height: 100%;
  width: 250px;
  margin-bottom: 20px;
}
.related_title {
  padding: 10px;
}
.related_title .name_product {
  font-size: 18px;
  font-weight: 600;
}
.price_product {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price_product .price {
  color: #ccc;
  text-decoration: line-through;
}
